* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* shared styles */
.font-family {
  font-family: "Inter", sans-serif;
}
.container {
  max-width: 1360px;
  margin: 0 auto;
}
.display {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* buttons */
.nav-btn {
  width: 164px;
  padding: 12px 16px;
  border: transparent;
  border-radius: 4px;
  background: rgba(70, 145, 101, 1);
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.nav-btn:hover {
  width: 165px;
  transform: scale(1.02);
  background-color: white;
  color: rgba(70, 145, 101, 1);
  border: 0.5px solid rgba(70, 145, 101, 1);
}
.button1 {
  width: 229px;
  height: 35px;
  gap: 6px;
  text-align: center;
  padding: 8px 12px;
  margin: 0 556.5px;
  border: none;
  border-radius: 1000px;
  background: rgba(255, 255, 255, 1);
  color: rgba(70, 145, 101, 1);
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.cbig {
  width: 16px;
  height: 16px;
  border-radius: 8px;
  background: rgba(37, 121, 72, 0.2);
  opacity: 0.2;
}
.cmedium {
  top: 9px;
  width: 12px;
  height: 12px;
  border-radius: 8px;
  background: rgba(71, 173, 113, 0.4);
  opacity: 0.4;
}
.csmall {
  width: 6px;
  height: 6px;
  border-radius: 8px;
  background: rgb(156, 237, 190);
}
.button1:hover {
  transform: scale(1.02);
}
.button1 .b1-pera {
  width: 183px;
  color: rgba(70, 145, 101, 1);
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
}
.button2 {
  width: 251px;
  padding: 12px 16px;
  border-radius: 4px;
  background: rgba(70, 145, 101, 1);
  border: none;
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button2:hover {
  transform: scale(1.02);
}
.button3 {
  width: 198px;
  align-items: center;
  padding: 12px 16px;
  border: 1px solid rgba(255, 255, 255, 1);
  border-radius: 4px;
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  background-color: transparent;
  margin-left: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button3:hover {
  transform: scale(1.02);
}
/* navbar styles */
nav {
  width: 1600px;
  margin: 0 auto;
  padding: 16px 120px;
  gap: 346px;
}
li {
  list-style: none;
}
nav ul {
  gap: 32px;
  color: rgba(0, 0, 0, 1);
  font-size: 16px;
  font-weight: 500;
  line-height: 152%;
  cursor: pointer;
}
li:hover {
  color: rgb(39, 39, 136);
}

/* hero section styles */
.hero {
  width: 1600px;
  height: 674px;
  margin: 0 auto;
  background-image: url("assets/hero-bg.png");
}
.hero-content {
  text-align: center;
  padding: 70px 120px 134px 120px;
}
.hero-content h1 {
  width: 770px;
  font-size: 72px;
  font-weight: 700;
  line-height: 84px;
  color: white;
  margin: 24px 295px 16px 295px;
}
.hero-content span {
  color: rgba(70, 145, 101, 1);
}
.hero-content p {
  width: 1360px;
  color: rgba(255, 255, 255, 1);
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  margin-bottom: 32px;
}
.btns {
  width: 465px;
  margin: 0 447.5px;
}
/* notes style */
.note {
  text-align: center;
}
.note h2 {
  color: rgba(0, 25, 49, 1);
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  padding-top: 62px;
  margin-bottom: 16px;
}
.note p {
  color: rgba(98, 115, 130, 1);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}
/* note cart styles */
.note-cart {
  margin-top: 44px;
  margin-bottom: 72px;
  gap: 24px;
}
.cart1,
.cart2,
.cart3,
.cart4,
.cart5 {
  width: 322px;
  height: 300px;
  padding: 24px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
  background: rgba(255, 255, 255, 1);
}
.cart1 .image,
.cart2 .image,
.cart3 .image,
.cart4 .image,
.cart5 .image {
  width: 60px;
  height: 60px;
  margin: 45.5px 107px 16px 107px;
  background: rgba(249, 85, 85, 1);
  border-radius: 50%;
}
.image img {
  padding: 14px;
}
.cart1 h5,
.cart2 h5,
.cart3 h5,
.cart4 h5,
.cart5 h5 {
  color: rgba(0, 25, 49, 1);
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  margin-bottom: 16px;
}
.cart1 p,
.cart2 p,
.cart3 p,
.cart4 p,
.cart5 p {
  color: rgba(98, 115, 130, 1);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}
/* solution part styles */
.solution {
  height: 600px;
  gap: 60px;
}
.solution-text {
  width: 700px;
  margin: 102px 0;
}
.s-pera1 {
  color: rgba(70, 145, 101, 1);
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 16px;
}
.solution-text h2 {
  color: rgba(0, 25, 49, 1);
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  margin-bottom: 16px;
}
.s-pera2 {
  color: rgba(98, 115, 130, 1);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 40px;
}
.list1,
.list2,
.list3,
.list4 {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 16px;
}
.solution-list img {
  width: 20px;
  height: 20px;
}
.solution-list p {
  position: absolute;
  z-index: 1;
  top: 1px;
  left: 29px;
  color: rgba(0, 25, 49, 1);
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
}
